version: 2.1
orbs:
  python-ci: cjw296/python-ci@4.0.1
commands:

  run-with-coverage:
    parameters:
      python:
        type: string
        default: "python"
      command:
        type: string
    steps:
      - run:
          name: "Run Tests"
          command: |
            << parameters.python >> --version
            mkdir -p coverage_output
            export COVERAGE_FILE=coverage_output/.coverage.$CIRCLE_BUILD_NUM
            << parameters.command >>
      - persist_to_workspace:
          root: coverage_output
          paths:
            - .coverage.*

  pip-install:
    parameters:
      python:
        type: string
        default: "python"
      extra_packages:
        type: string
        default: ""
      editable:
        type: boolean
        default: false
      package:
        type: string
        default: "."
      extras:
        type: string
        default: ""
    steps:
      - run:
          name: "Install Project"
          command: "<< parameters.python >> -m pip install << parameters.extra_packages >> <<# parameters.editable >>-e <</ parameters.editable >><< parameters.package >><< parameters.extras >>"

  pip-run-tests:
    parameters:
      python:
        type: string
        default: "python"
      prepare:
        type: steps
        default: []
      command:
        type: string
        default: pytest --cov
      extra_packages:
        type: string
        default: ""
      extras:
        type: string
        default: "[test]"
    steps:
      - checkout
      - pip-install:
          python: << parameters.python >>
          editable: true
          extra_packages: << parameters.extra_packages >>
          extras: << parameters.extras >>
      - steps: << parameters.prepare >>
      - run-with-coverage:
          python: << parameters.python >>
          command: "<< parameters.python >> -m << parameters.command >>"

jobs:
  build:
    docker:
      - image: cimg/base:2021.04
    steps:
      - checkout

  pip-run-tests:
    parameters:
      image:
        type: string
      prepare:
        type: steps
        default: [ ]
      command:
        type: string
        default: pytest --cov
      extra_packages:
        type: string
        default: ""
      extras:
        type: string
        default: "[test]"
      python:
        type: string
        default: "python"
    docker:
      - image: << parameters.image >>
    steps:
      - pip-run-tests:
          prepare: << parameters.prepare >>
          command: << parameters.command >>
          extra_packages: << parameters.extra_packages >>
          extras: << parameters.extras >>
          python: << parameters.python >>

    pip-docs:
      parameters:
        image:
          type: string
          default: "cimg/python:3.11"
        python:
          type: string
          default: "python"
        sourcedir:
          type: string
          default: "docs"
        outdir:
          type: string
          default: "build/sphinx/html"
      docker:
        - image: cimg/python:3.11
      steps:
        - checkout
        - pip-install:
            editable: true
            extras: "[docs]"
        - run:
            name: "Build Docs"
            command: |
              << parameters.python >> -m sphinx -W --keep-going  << parameters.sourcedir >> << parameters.outdir >>
              << parameters.python >> -m docutils --strict  --strict README.rst README.html
        - store_artifacts:
            path: << parameters.outdir >>
            destination: docs

    pip-setuptools-build-package:
      docker:
        - image: cimg/python:3.9
      steps:
        - checkout
        - pip-install:
            editable: true
            extras: "[build]"
        - run:
            name: "Build Distributions"
            command: "python setup.py sdist bdist_wheel"
        - persist_to_workspace:
            root: dist
            paths:
              - "*"
        - store_artifacts:
            path: dist
            destination: dist

    coverage:
      parameters:
        image:
          type: string
          default: cimg/python:3.9
      docker:
        - image: << parameters.image >>
      steps:
        - checkout
        - attach_workspace:
            at: coverage_output
        - run:
            name: "Check coverage"
            command: |
              pip install coverage
              coverage combine coverage_output/
              coverage report --show-missing --fail-under=100
